{% extends 'rt/model.html' %}
{% load staticfiles %}

{% block define_head %}
	<title>Book display</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{% static 'ico/favicon.png' %}">
{% endblock define_head %}

{% block define_CSS %}
	<!-- Custom styles for this template -->
	<link href="{% static 'book-detail.css' %}" rel="stylesheet">
{% endblock define_CSS %}

{% block main %}

	<div class="container">

	  <div class="starter-template">
		<h2>{{ book.simple_name }}<small> - {{ book.simple_version }}</small></h2>
		<!-- <p class="lead"></p> -->
	  </div>
	
	</div><!-- /.container -->
	
	<div class="container">
	  <!-- <h3>Harry Potter - The Philosopher Stone</h3> -->
	  <div class="panel panel-default">
		  <div class="panel-heading">
			<span class="glyphicon glyphicon-book"></span>
			<strong>书籍信息</strong>
			<button type="button" class="btn btn-default btn-xs" style="float:right;">我要纠错</button>
		  </div>
		  <div class="panel-body">
			<ul class="media-list signle-item">
			  <li class="media">
				<div class="pull-left">
					<a  href="#">
					  <img class="media-object" src="http://placekitten.com/90/130" alt="...">
					</a>
				</div>
				<div class="media-body">
				  <!-- <h4 class="media-heading">Media heading</h4> -->
				  <div class="row">
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="book-info">
							{% if book.name_cn %}
								<span class="displayk">标准名:</span>
								<span class="displayv">{{ book.name_cn }}</a></span>
								<br>
							{% endif %}

							{% if book.author %}
								<span class="displayk">作者:</span>
								<span class="displayv"><a href="...">{{ book.author }}</a></span>
								<br>
							{% endif %}							
							
							{% if book.press %}
								<span class="displayk">出版社:</span>
								<span class="displayv"><a href="...">{{ book.press }}</a></span>
							<br>
							{% endif %}

							{% if book.name_origin %}
								<span class="displayk">外文原名:</span>
								<span class="displayv">{{ book.name_origin }}</span>
							<br>
							{% endif %}

							{% if book.pub_year_origin %}
							<span class="displayk">原版出版年:</span>
							<span class="displayv">{{ book.pub_year_origin }}</span>
							<br>
							{% endif %}

							{% if book.revision_origin %}
							<span class="displayk">原版版次:</span>
							<span class="displayv">{{ book.revision_origin }}</span>
							<br>
							{% endif %}							
							
							{% if book.translator %}
								<span class="displayk">译者:</span>
								<span class="displayv"><a href="...">{{ book.translator }}</a></span>
							<br>
							{% endif %}
							
							{% if book.pub_year %}
							<span class="displayk">出版年:</span>
							<span class="displayv">{{ book.pub_year }}</span>
							<br>
							{% endif %}

							{% if book.revision %}
							<span class="displayk">版次:</span>
							<span class="displayv">第 {{ book.revision }} 版</span>
							<br>
							{% endif %}

							{% if book.type %}
							<span class="displayk">书籍分类:</span>
							<span class="displayv">{{ book.type }}</span>
							<br>
							{% endif %}							

							{% if book.ISBN %}
							<span class="displayk">ISBN:</span>
							<span class="displayv">{{ book.ISBN }}</span>
							{% endif %}
						</div>
						<!--
						<div class="book-info-edit">
							meow
						</div>
						-->
					</div>
					
					<div class="col-md-3 col-sm-4 col-xs-12">
						<div class="panel panel-default rate-star-panel">
						<div class="panel-body">
						<ul class="list-unstyled">
							<li>评分：</li>
							<li class="big-star">
								<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
								<span class="rate-score">3.2</span>
							</li>
							<!-- 5 rate data -->
							<li class="small-star">
								<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span>
								<span class="glyphicon rate-bar" style="width:10px;"></span>
								<span class="rate-per">17.0%</span>
							</li>
							<li class="small-star">
								<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon rate-bar" style="width:16px;"></span>
								<span class="rate-per">22.0%</span>
							</li>
							<li class="small-star">
								<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon rate-bar" style="width:7px;"></span>
								<span class="rate-per">19.0%</span>
							</li>
							<li class="small-star">
								<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon rate-bar" style="width:2px;"></span>
								<span class="rate-per">1.0%</span>
							</li>
							<li class="small-star">
								<span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span><span class="glyphicon glyphicon-star-empty"></span>
								<span class="glyphicon rate-bar" style="width:1px;"></span>
								<span class="rate-per">1.0%</span>
							</li>
							
							
						</ul>
						</div>
						</div>
						
						<!--
						<div class="panel panel-default">
						<div class="panel-body">
							<button type="button" class="btn btn-default btn-xs">预约</button>
						</div>
						</div>
						-->
					</div>
				  </div>
				</div>
			  </li>
			</ul>
		  </div>
		</div>
	</div>
	
	<div class="container">
	    <div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><span class="glyphicon glyphicon-tasks"></span> 书籍状态</div>
		  <div class="panel-body">
		  	{% if copy and copy|length > 0%}
			
			当前馆藏 <strong>{{ copy|length }}</strong> 本。有 <strong>3</strong> 本空闲中 or 最近即将到期的已借出的书时间为 <strong>2013-11-19</strong> .
		  </div>

		  <!-- Table -->
		  <div class="table-responsive">
		  <table class="table table-hover "> <!-- table-bordered? -->
			   <thead>
				<tr>
				  <th>#</th>
				  <th>馆藏地点</th>
				  <th>索书号/卷次</th>
				  <th>馆藏状态</th>
				  <th>操作</th>
				</tr>
			  </thead>
			  <tbody>
				<tr class="default">
				  <td>1231</td>
				  <td>Mark</td>
				  <td>Otto</td>
				  <td>已借出（13-11-20 到期 +1 已预约）</td>
				  <td><button type="button" class="btn btn-default btn-xs">预约</button></td>
				</tr>
				<tr class="success">
				  <td>2S13</td>
				  <td>Jacob</td>
				  <td>Thornton</td>
				  <td>在架上</td>
				  <td><button type="button" class="btn btn-default btn-xs " disabled="disabled">在架上不可预约</button></td>
				</tr>
				<tr class="success">
				  <td>123D</td>
				  <td>Larry</td>
				  <td>the Bird</td>
				  <td>馆内阅览</td>
				  <td><button type="button" class="btn btn-default btn-xs" disabled="disabled">馆内不可预约</button></td>
				</tr>
			  </tbody>
		  </table>
		  </div> <!-- end of table -->

		{% else %}
			噢哟，该书暂无馆藏。您可以前往相关页面填写表单或者联系管理员申请购买该图书;-)
			</div> <!-- end of head -->
		{% endif %}

		</div>
	</div><!-- /.container -->
	
	
	 <div class="container">
		<div class="panel panel-default comment-widget">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-comment"></span> 书评
			<span class="label label-info" >78 条</span>
			<button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#makemycomment" style="float:right;">我也要评论</button>
		</div>
		<div class="panel-body">
			<ul class="list-group" id="comment-group">
				<li class="list-group-item">
					<div class="row">
						<div class="col-xs-2 col-md-1">
							<img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
						<div class="col-xs-10 col-md-11">
							<div>
								<a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
									Google Style Login Page Design Using Bootstrap</a>
								<div class="mic-info">
									By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
								</div>
							</div>
							<div class="comment-text">
								Awesome design
							</div>
							<div class="action">
								<button type="button" class="btn btn-primary btn-xs" title="Edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button type="button" class="btn btn-success btn-xs" title="Approved">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button type="button" class="btn btn-danger btn-xs" title="Delete">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-xs-2 col-md-1">
							<img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
						<div class="col-xs-10 col-md-11">
							<div>
								<a href="http://bootsnipp.com/BhaumikPatel/snippets/Obgj">Admin Panel Quick Shortcuts</a>
								<div class="mic-info">
									By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
								</div>
							</div>
							<div class="comment-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
								euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
							</div>
							<div class="action">
								<button type="button" class="btn btn-primary btn-xs" title="Edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button type="button" class="btn btn-success btn-xs" title="Approved">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button type="button" class="btn btn-danger btn-xs" title="Delete">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="row">
						<div class="col-xs-2 col-md-1">
							<img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
						<div class="col-xs-10 col-md-11">
							<div>
								<a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">Cool Sign Up</a>
								<div class="mic-info">
									By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
								</div>
							</div>
							<div class="comment-text">
								Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
								euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
							</div>
							<div class="action">
								<button type="button" class="btn btn-primary btn-xs" title="Edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
								<button type="button" class="btn btn-success btn-xs" title="Approved">
									<span class="glyphicon glyphicon-ok"></span>
								</button>
								<button type="button" class="btn btn-danger btn-xs" title="Delete">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<a href="#" class="btn btn-default btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>
		</div>
	  </div>
	  </div>
	  
	  
	  <!-- Modal -->
		<div class="modal fade" id="makemycomment" tabindex="-1" role="dialog" aria-labelledby="makemycomment-Label" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="makemycomment-Label"><span class="glyphicon glyphicon-pencil"></span> 撰写我的书评</h4>
			  </div>
			  <div class="modal-body">
				
				<form class="form-horizontal" role="form">
				  <div class="form-group">
					<label for="inputTitle" class="col-sm-2 control-label">标题</label>
					<div class="col-sm-10">
					  <input type="text" class="form-control" id="inputTitle" placeholder="给评论取个标题吧=w=">
					</div>
				  </div>
				  <div class="form-group">
					<label for="inputRate" class="col-sm-2 control-label">评分</label>
					<div class="col-sm-10">
						<label class="radio-inline">
						  <input type="radio" name="optionsRadios" id="inlineRadio5" value="rate5"> <span class="label label-danger">力荐</span>
						</label>
						<label class="radio-inline">
						  <input type="radio" name="optionsRadios" id="inlineRadio4" value="rate4"> <span class="label label-primary">推荐</span>
						</label>
						<label class="radio-inline">
						  <input type="radio" name="optionsRadios" id="inlineRadio3" value="rate3"><span class="label label-success">一般</span>
						</label>
						<label class="radio-inline">
						  <input type="radio" name="optionsRadios" id="inlineRadio2" value="rate2"> <span class="label label-warning">较差</span>
						</label>
						<label class="radio-inline">
						  <input type="radio" name="optionsRadios" id="inlineRadio1" value="rate1"> <span class="label label-default">糟糕</span>
						</label>
					</div>
				  </div>
				  <div class="form-group">
					<label for="inputComment" class="col-sm-2 control-label">评论</label>
					<div class="col-sm-10">
					  <textarea class="form-control" rows="8" id="inputComment" placeholder="写点什么好呢…"></textarea>
					</div>
				  </div>
				  <div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
					  <div class="checkbox">
						<label>
						  <input type="checkbox"> 有关键情节透露> <
						</label>
					  </div>
					</div>
				  </div>
				</form>
				
			  </div>
			  <div class="modal-footer">
			  （不刷新页面内容是不会丢失的，可以回来继续编辑）
				<button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="tooltip" title="（不刷新页面内容是不会丢失的，可以回来继续编辑）">关闭</button>
				<button type="button" class="btn btn-primary">好了，添加评论</button>
			  </div>
			</div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

{% endblock main %}
