{% extends 'rt/model.html' %}
{% load staticfiles %}

{% block define_head %}
  <title>ReadTogether Library System</title>
  <meta name="description" content="Index">
  <meta name="author" content="Qt">
  <link rel="shortcut icon" href="{% static 'rt/img/favicon.ico' %}" />
{% endblock define_head %}

{% block define_CSS %}
  <!-- Custom styles for this template -->
  <link href="{% static 'rt/common-qt.css' %}" rel="stylesheet">
  <link href="{% static 'rt/common-qt-index.css' %}" rel="stylesheet">
{% endblock define_CSS %}

{% block nav_search %}
{% endblock nav_search %}

{% block main %}
<div class="container">
  <div class="row magxs">
    <div class="col-xs-2 "></div>
    <div class="col-xs-8 "><img src="{% static 'rt/img/index_logo.jpg' %}" class="img-responsive" alt="Responsive image"></div>
    <div class="col-xs-2 "></div>
  </div>
  <form action="{% url 'rt:search' %}" method="get">
    <div class="row magmd">
      <div class="col-xs-2 "></div>
      <div class="col-xs-8 "><input class="form-control" type="text" placeholder="which book do you want?" name="q"></div>
      <div class="col-xs-2 "></div>
    </div>

    <div class="row maglg">
      <div class="col-xs-4 "></div>
      <div class="col-xs-2 "><button type="submit" class="btn btn-primary btn-block">Search books</button></div>
      <div class="col-xs-0 "></div>
      <div class="col-xs-2 "><button type="button" class="btn btn-primary btn-block" title="oops~~~~>_< " data-content="this function is still in the brain!">I cannot be luckier</button></div>
      <div class="col-xs-4 "></div>
    </div>
  </form>
</div>

<div class="container">
<div class="row">
  <div class="col-xs-4 ">
    <div class="alert alert-danger">
      <table class="table table-hover">
        <thead>
           <tr>
            <th>Rank</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
	      {% for item in rank %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.0 }}</td>
            <td>{{ item.1 }}</td>
            <td>{{ item.2 }}</td>
          </tr>
        {% empty %}
          <tr><td>No content.</td><td></td><td></td><td></td></tr>
      	{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-4 ">
    <div class="alert alert-warning">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>News</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
	      {% for item in news %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href = "{% url 'rt:info_detail' item.id %}">{{ item.title }}</a></td>
            <td></td>
            <td>{{ item.date|date:"F j, Y"}}</td>
          </tr>
        {% empty %}
          <tr><td>No content.</td></tr>
      	{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-4 ">
    <div class="alert alert-success">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Guide</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
	      {% for item in guide %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href = "{% url 'rt:info_detail' item.id %}">{{ item.title }}</a></td>
            <td></td>
            <td>{{ item.date|date:"F j, Y"}}</td>
          </tr>
        {% empty %}
          <tr><td>No content.</td></tr>
      	{% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-4 "></div>
</div>
</div>


{% endblock main %}

{% block define_js %}
  <script type="text/javascript">
    $('.btn').popover();
  </script>
{% endblock define_js %}