{% extends 'rt/model.html' %}
{% load staticfiles %}
      {% block nav_search %}
      {% endblock nav_search %}
{% block main %}
<br><br><br><br><br><br><br><br>
<div class="row">
  <div class="col-xs-3 "></div>
  <div class="col-xs-6 "><img src="{% static 'rt/img/index_logo.jpg' %}" class="img-responsive" alt="Responsive image"></div>
  <div class="col-xs-3 "></div>
</div>
<div class="row">
  <div class="col-xs-3 "></div>
  <div class="col-xs-6 "><input class="form-control" type="text" placeholder="which book do you want?"></div>
  <div class="col-xs-3 "></div>
</div>
<br>
<div class="row">
  <div class="col-xs-4 "></div>
  <div class="col-xs-2 "><button type="button " class="btn btn-primary btn-block">Search books</button></div>
  <div class="col-xs-2 "><button type="button " class="btn btn-primary btn-block">I cannot be luckier</button></div>
  <div class="col-xs-4 "></div>
</div>
<br><br><br>
<div class="row">
  <div class="col-xs-5 ">
    <div class="alert alert-danger">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Top 10</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-4 ">
    <div class="alert alert-warning">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Infomation</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-3 ">
    <div class="alert alert-success">
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Help</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-4 "></div>
</div>
{% endblock main %}
