{% extends 'rt/model.html' %}
{% load staticfiles %}
      {% block nav_search %}
      {% endblock nav_search %}
{% block content %}
<div class="row">
  <div class="col-xs-3 "></div>
  <div class="col-xs-6 ">
    <div class="alert alert-success">
      <h3><strong>搜索结果</strong></h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for item in result %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.author }}</td>
            <td>{{ item.year }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-3 "></div>
</div>
{% endblock content %}
